@import "../../../../variablesMixin.scss";

$starCloudsContainer-initial-position: -1000px;

@keyframes moveDown {
  0% {
    top: $starCloudsContainer-initial-position;
  }
  100% {
    top: 0px;
  }
}

@keyframes move {
  50% {
    transform: translateY(-10px);
  }
}

@mixin cloudPos($t, $l) {
  position: absolute;
  top: $t;
  left: $l;
}

.CloudContainer {
  position: absolute;
  top: $starCloudsContainer-initial-position;
  left: 0;
  width: 100%;
  height: 100px;

  background-color: transparent;
  animation: moveDown 0.5s ease-in-out 1.5s 1 normal forwards;

  .Cloud {
    background-color: #fff;
    font-size: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 65px -15px 0 -5px #fff, 25px -25px #fff, 30px 10px #fff,
      60px 15px 0 -10px #fff, 85px 5px 0 -5px #fff;
    animation: move 6s ease infinite;
  }

  .Pos1 {
    @include cloudPos(140px, 60px);
  }

  .Pos4 {
    @include cloudPos(200px, 700px);
  }
  .Pos5 {
    @include cloudPos(150px, 550px);
  }
  .Pos6 {
    @include cloudPos(50px, 300px);
  }
  .Pos7 {
    @include cloudPos(80px, 250px);
  }
  .Pos9 {
    @include cloudPos(70px, 1000px);
  }
}
