@use "sass:color";
@import "../../reset.css";
@import "../../variablesMixin.scss";

.SearchBox {
  position: relative;

  .search {
    @include size(15px, 15px);
    position: relative;
    padding: 5px;

    background-color: $white;
    color: $white;

    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);

    cursor: pointer;
    outline: none;
    transition: all 0.15s $transition-effect;
    ~ .bar {
      @include size(4px, 20px);
      display: block;
      position: absolute;
      top: 25px;
      right: -12px;

      opacity: 1;
      background: $white;

      border-radius: 4px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);

      transform: rotate(45deg);
      transition: opacity 0.15s ease;
    }

    &::placeholder {
      color: $white;
    }

    &:focus {
      @include size(25px, 150px);
      border-radius: 3px;
      color: $blue;
      cursor: initial;
      &::placeholder {
        color: $light-gray;
      }
      ~ .bar {
        box-shadow: none;
        opacity: 0;
        top: 5px;
        right: 0;
      }
    }
  }
}

.dropdownContainer {
  position: absolute;
  top: 65px;
  div {
    padding: 10px;
    background-color: $secondary-background-color;
    border: 1px solid $white;
    border-radius: 5px;
  }
}
