@use "sass:color";
@import "../../reset.css";
@import "../../variablesMixin.scss";

.App {
  display: grid;
  grid-template-columns: 450px 1fr;
  filter: brightness(1);
  transition: all 0.2s ease-in-out;
  @media only screen and (max-width: 1100px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.MainContainer {
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}

.MainPage {
  height: 100%;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  color: $white;

  header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
  }

  * > span {
    font-size: 35px;
    padding: 25px 0;
  }

  footer {
    height: 10%;
    width: 100%;
    margin: 20px 0;

    @include flex-center();
    a {
      text-decoration: none;
      & > * {
        color: $white;
      }
    }
  }

  .MiddleSpan {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
    span {
      font-size: min(35px, 7vw);
    }
  }
}

// Farenheit, Celcius round icons
$radius-size: 24px;

.TempIcon {
  width: $radius-size;
  height: $radius-size;

  font-size: 18px;
  font-weight: 600;

  background-color: $gray;

  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
  @include flex-center();

  cursor: pointer;

  filter: brightness(0.3);
  transition: all 0.4s $transition-effect;
}

.active {
  filter: brightness(1);
  color: $gray;
  background-color: $white;
}

/////////////////////////////////////////
// main
/////////////////////////////////////////

.WeekWeather {
  width: 100%;
  margin: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  @media screen and (max-width: 650px) {
    flex-flow: column nowrap;
  }
}

.Card {
  flex: 1 1 auto;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: color.scale($primary-background-color, $lightness: 5%);
  border-radius: 5%;

  font-weight: 600;
  @media screen and (max-width: 650px) {
    width: 80%;
  }

  .DateSpan {
    color: $white;
    font-size: 1.6em;
  }

  .DescriptionSpan {
    color: color.scale($gray, $lightness: 50%);
    font-size: 1.1em;
    padding: 10px 0;
  }

  .TemperatureSpan {
    color: $white;
    font-size: 1.5em;
    padding: 10px 0;
  }
}

.Icons {
  color: $white;
  font-size: 60px;
}

.TodayHighlight {
  width: 100%;
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}

.Bigcard {
  background-color: color.scale($primary-background-color, $lightness: 5%);

  flex: 1 1 auto;
  gap: 5px;

  @include flex-center();
  flex-direction: column;

  background-color: color.scale($primary-background-color, $lightness: 5%);
  border-radius: 3%;
  h2 {
    font-size: 54px;
  }

  span {
    font-size: 20px;
    font-weight: 600;
  }

  progress[value] {
    width: 80%;
    margin: 30px 0;
  }
}

.TwoElement {
  padding-bottom: 30px;
}

.searchActive {
  filter: brightness(0.1);
  color: black;
  background-color: black;
  transition: $search-transition-effect;
}
