@use "sass:color";
@import "./reset.css";

$primary-background-color: #011627;
$secondary-background-color: #0b2942;
$white: #d6deeb;
$gray: #293131;
$transition-effect: cubic-bezier(0.075, 0.82, 0.165, 1);
$search-transition-effect: all 0.5s ease-in-out;

@mixin PosAbsoluteCenter($tp) {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
  top: $tp;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $primary-background-color;
  transition: all 0.3s ease-in-out;
}

div {
  display: block;
}

.App {
  display: grid;
  grid-template-columns: 450px 1fr;
  filter: brightness(1);
  transition: all 0.2s ease-in-out;
  @media only screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.MainContainer {
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}

// SideBar

$search-icon-size: 35px;

.SearchIcon {
  font-size: $search-icon-size;
}

.LocationIcon {
  font-size: 50px;
  cursor: pointer;
}

.SidebarContainer {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  position: sticky;
  top: 0;
  height: 100vh;
  max-height: 100vh;

  background-color: $secondary-background-color;
  color: $white;

  .SearchContainer {
    width: 100%;

    padding: 2.5vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;

    .SearchBox {
      button {
        position: relative;
        color: $white;
        background-color: inherit;
        padding: 3px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: $search-icon-size;
        border: 0;
        border-radius: $search-icon-size;

        cursor: pointer;
        &::before,
        &::after {
          box-sizing: inherit;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      // Spin Effect
      .Spin {
        height: $search-icon-size;
        width: $search-icon-size;
        &::before,
        &::after {
          top: 0;
          left: 0;
        }

        &:before {
          border: 3.5px solid transparent;
          border-radius: 50%;
        }
        &:focus::before {
          border-top-color: $white;
          border-right-color: $white;
          border-bottom-color: $white;
          transition: border-top-color 0.15s linear,
            border-right-color 0.15s linear 0.1s,
            border-bottom-color 0.15s linear 0.2s;
        }

        &::after {
          border: 0 solid transparent;
          border-radius: 50%;
        }
        &:focus::after {
          border-top: 3.5px solid $white;
          border-left-width: 3.5px;
          border-right-width: 3.5px;
          transform: rotate(270deg);
          transition: transform 0.4s linear 0s,
            border-left-width 0s linear 0.35s;
        }
      }

      .InputSearch {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 50px;
        width: 100px;
        height: 35px;
        color: $white;
        background-color: transparent;
        border: none;
        border-bottom: none;
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
          font-size: 18px;
          letter-spacing: 2px;
          font-weight: 100;
        }
      }

      button:focus ~ .InputSearch {
        visibility: visible;
        opacity: 1;
        width: 200px;
        border-bottom: 1px solid $white;
        transition: border-bottom 0.5s $transition-effect,
          opacity 0.5s $transition-effect;
        transition-delay: 0.5s;
      }

      .InputSearch:focus {
        visibility: visible;
        opacity: 1;
        width: 200px;
        border-bottom: 1px solid $white;
      }
    }
  }

  .ExcludeSearchContainer {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .LocationCity {
    font-size: 60px;
    font-weight: 600;
  }

  .DescContainer {
    font-size: 38px;
    font-weight: 600;
    color: color.scale($gray, $lightness: 30%);
  }

  .TemperatureWrapper {
    padding-bottom: 5vh;
  }

  .TemperatureContainer {
    overflow: hidden;
    font-weight: bold;

    $tf: transform 0.2s ease-in-out;
    $op: opacity 0.2s ease-in-out;
    h2 {
      opacity: 1;
      font-size: 48px;
      transition: $tf, $op;
      transform: translateY(0);
    }

    h3 {
      opacity: 0;
      font-size: 36px;
      transition: $tf, $op;
      transform: translateY(0);
    }

    &:hover {
      h2 {
        opacity: 0;
        transition: $tf, $op;
        transform: translateY(-40px);
      }

      h3 {
        opacity: 1;
        transition: $tf, $op;
        transform: translateY(-40px);
      }
    }
  }

  .TempMinMaxContainer {
    display: flex;
    font-size: 24px;
    font-weight: bolder;
    color: color.scale($gray, $lightness: 60%);
    justify-content: space-around;
    align-items: center;
  }

  .Date {
    font-size: 36px;
    font-weight: 600;
  }
}

.MainPage {
  height: 100%;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  color: $white;

  header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    padding-right: 50px;
  }

  * > span {
    font-size: 35px;
    padding: 25px 0;
  }

  footer {
    height: 10%;
    width: 100%;
    margin: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      & > * {
        color: $white;
      }
    }
  }
}

// Farenheit, Celcius round icons
$radius-size: 24px;

.TempIcon {
  width: $radius-size;
  height: $radius-size;

  font-size: 18px;
  font-weight: 600;

  background-color: $gray;

  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  filter: brightness(0.3);
  transition: all 0.4s $transition-effect;
}

.active {
  filter: brightness(1);
  color: $gray;
  background-color: $white;
}

/////////////////////////////////////////
// main
/////////////////////////////////////////

.WeekWeather {
  width: 100%;
  margin: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.Card {
  flex: 1 1 auto;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: color.scale($primary-background-color, $lightness: 5%);
  border-radius: 5%;

  font-weight: 600;

  .DateSpan {
    color: $white;
    font-size: 1.6em;
  }

  .DescriptionSpan {
    color: color.scale($gray, $lightness: 50%);
    font-size: 1.1em;
    padding: 10px 0;
  }

  .TemperatureSpan {
    color: $white;
    font-size: 1.5em;
    padding: 10px 0;
  }
}

.Icons {
  color: $white;
  font-size: 60px;
}

.MiddleSpan {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
}

.TodayHighlight {
  width: 100%;
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(2, 1fr);
}

.Bigcard {
  background-color: color.scale($primary-background-color, $lightness: 5%);

  flex: 1 1 auto;
  gap: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: color.scale($primary-background-color, $lightness: 5%);
  border-radius: 3%;
  h2 {
    font-size: 54px;
  }

  span {
    font-size: 20px;
    font-weight: 600;
  }

  progress {
    width: 80%;
    margin: 30px 0;
  }
}

.TwoElement {
  padding-bottom: 30px;
}

.searchActive {
  filter: brightness(0.1);
  color: black;
  background-color: black;
  transition: $search-transition-effect;
}
