$primary-background-color: #011627;
$secondary-background-color: #0b2942;
$white: #d6deeb;
$gray: #293131;
$blue: #26547c;
$light-gray: #a1a1a1;
$red: #ff0202;
$red-black: #3d0404;
$transition-effect: cubic-bezier(0.075, 0.82, 0.165, 1);
$search-transition-effect: all 0.5s ease-in-out;
$mobile-transition-max-width: 1100px;

$day-background-color: #baeafa;
$night-background-color: #111336;

$building-day-color: #9bd9fe;
$building-day-shadow-color: #50a8e3;
$building-night-color: #051b24;
$building-night-shadow-color: #051a22;
$window-day-color1: #0e3e7e;
$window-day-color2: #fff;
$window-night-color1: #ffff8c;
$window-night-color2: #ffffa0;
$window-night-color3: #575a35;

$bridge-day-color: #9e9e9e;
$bridge-night-color: #9e9e9e5b;

$pillar-day-color: rgb(177, 177, 156);
$pillar-night-color: rgb(59, 59, 52);

$streetLight-color: #3f3f3f;
$streetLight-color2: #424242;
$streetLight-light-color: #dadace;
$streetLight-night-light-color: #f5f57f;

@mixin PosAbsoluteCenter($tp) {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
  top: $tp;
}

@mixin size($h, $w) {
  height: $h;
  width: $w;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-center($h: true, $v: true) {
  position: absolute;
  @if ($h and $v) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($h) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($w) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

//////////////////////////////////////////////////
@keyframes glow {
  0% {
    filter: brightness(0.75);
  }
  50% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.75);
  }
}

@keyframes glow2 {
  0% {
    filter: brightness(0.5);
  }
  50% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.5);
  }
}
