@import '../../../variablesMixin.scss';

$starCloudsContainer-initial-position: -100px;

@keyframes moveDown {
  0% {
    top: $starCloudsContainer-initial-position;
  }
  100% {
    top: 0px;
  }
}

.StarCloudsContainer {
  position: absolute;
  top: $starCloudsContainer-initial-position;
  width: 100%;
  height: fit-content;
}
