@import "../../../../reset.css";
@import "../../../../variablesMixin.scss";

.BuildingTypeOne {
  position: absolute;
  left: 0%;
  bottom: 7%;
  @include size(480px, 140px);

  .TypeOneShadow {
    position: absolute;
    left: 0;
    width: 15%;
    height: 100%;
  }

  .BuildingTop {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 3%;
    background-color: $window-night-color2;
  }

  .BuildingWindow {
    position: absolute;
    right: 0;
    @include size(10px, 65%);
  }

  .BuildingWindow-Day {
    background-color: $window-day-color1;
  }

  .BuildingWindow-Night {
    background-color: $window-night-color1;
    animation: glow 10s linear infinite;
  }

  .BuildingWindow-Night .FiveSec {
    animation: glow 5s linear infinite;
  }

  .BuildingWindow-Night .SevenSec {
    animation: glow 7s linear infinite;
  }

  .BuildingWindow-Night .TenSec {
    animation: glow2 10s linear infinite;
  }

  ////////////////////////////////////////////
  .TypeOneOne {
    top: 10%;
  }
  .TypeOneTwo {
    top: 20%;
  }
  .TypeOneThree {
    top: 30%;
  }
  .TypeOneFour {
    top: 40%;
  }
  .TypeOneFive {
    top: 50%;
  }
  .TypeOneSix {
    top: 60%;
  }
  .TypeOneSeven {
    top: 70%;
  }
  .TypeOneEight {
    top: 80%;
  }
  .TypeOneNine {
    top: 90%;
  }
}

.BuildingTypeOne-Day {
  background-color: $building-day-color;

  .TypeOneShadow {
    background-color: $building-day-shadow-color;
  }
}

.BuildingTypeOne-Night {
  background-color: $building-night-color;
}
